ipython==8.31.0
matplotlib==3.6.2
numpy==1.23.5
opencv_python==4.4.0.42
pandas==1.4.2
pydicom==3.0.1
pytorch_directml==1.8.0a0.dev220506
scikit_learn==1.6.1
seaborn==0.11.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.60.0
torchmetrics==1.6.1
